			<!-- MAIN CONTENT -->
<div id="content">


    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!--<div class="well">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search...">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-primary" type="button">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </div>
        </div>-->

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-10">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> </span>
                        <h2>Account Register</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form class="form-horizontal" angular-validator-submit="signUp()" name="registrationForm"  novalidate  angular-validator>
                                <fieldset>
                                    <legend>Please fill all the field</legend>  
                                     
                                    <div class="form-group" ng-show="hasError">
                                        <label for="firstName" class="col-md-2 control-label"></label>
                                        <div class="col-md-10" style="color:indianred" >                                           
                                            <strong>Error! {{message.description}}</strong>
                                        </div>
                                    </div>                           
                                    <div class="form-group">
                                        <label for="firstName" class="col-md-2 control-label">First name</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="firstname" id="firstName" placeholder="First name" ng-model="registration.firstName" required-message="'first name is required'" required>
                                           
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName" class="col-md-2 control-label">Last name</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="lastName" name="lastname" placeholder="Last name" ng-model="registration.lastName" required-message="'last name is required'" required>
                                           
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail" class="col-md-2 control-label">Email</label>
                                        <div class="col-md-10">                                           
                                            <input type="email"
                                                   name="email"
                                                   class="form-control"
                                                   ng-model="registration.email"
                                                   placeholder="email"
                                                   invalid-message="'Thats not a real email address'"
                                                   required-message="'email is required'"
                                                   validate-on="dirty"
                                                   required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword" class="col-md-2 control-label">Password</label>
                                        <div class="col-md-10">                                            
                                            <input type="password"
                                                   name="password"
                                                   class="form-control"
                                                   ng-model="registration.password"
                                                   placeholder="password"
                                                   validator="passwordValidator(registration.password) === true"
                                                   invalid-message="passwordValidator(registration.password)"
                                                   required-message="'password is required'"
                                                   validate-on="dirty"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-md-2 control-label">Confirm Password</label>
                                        <div class="col-md-10">                                       
                                            <input type="password"
                                                   name="confirmPassword"
                                                   class="form-control"
                                                   ng-model="registration.confirmPassword"
                                                   placeholder="confirm password"
                                                   validator="registration.password === registration.confirmPassword"
                                                   validate-on="dirty"
                                                   invalid-message="'Passwords do not match!'"
                                                   required-message="'confirm password is required'"
                                                   required>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">                                          
                                            <a href="#/Account/Login" class="btn btn-default">Cancel</a>                                            
                                            <button type="submit" class="btn btn-primary">
                                                <span data-ng-hide="loadingAccountRegister">
                                                    Register
                                                </span>
                                                <span data-ng-show="loadingAccountRegister">
                                                    Saving..
                                                    <i class="fa fa-spinner fa-spin"></i>
                                                </span>
                                            
                                            </button>
                                        </div>
                                    </div>
                                </div>
                       
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
             

            </article>
            <!-- WIDGET END -->
       

        </div>
        <!-- end row -->      
    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
