
<div class="col-md-6">
    <form id="reset-form" class="smart-form" name="resetPasswordForm" angular-validator-submit="resetPassword()"  novalidate  angular-validator >
        <fieldset>
            <section>
                <div class="row">
                    <label class="label col col-2"></label>
                    <div class="col col-10">
                        <strong>{{message}}</strong>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <label class="label col col-2">Email</label>
                    <div class="col col-10">
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>                           
                            <input type="email"
                                   name="email"
                                   class="form-control"
                                   ng-model="userName"
                                   placeholder="Email"
                                   invalid-message="'Thats not a real email address'"
                                   required-message="'email is required'"
                                   validate-on="dirty"
                                   required>
                        </label>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <label class="label col col-2">Password</label>
                    <div class="col col-10">
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                          
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   ng-model="password"
                                   placeholder="password"
                                   validator="passwordValidator(password) === true"
                                   invalid-message="passwordValidator(password)"
                                   required-message="'password is required'"
                                   validate-on="dirty"
                                   required>
                        </label>                       
                    </div>
                </div>
            </section>

            <section>
                <div class="row">
                    <label class="label col col-2">Confirm Password</label>
                    <div class="col col-10">
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>                         
                            <input type="password"
                                   name="ConfirmPassword"
                                   class="form-control"
                                   ng-model="confirmPassword"
                                   placeholder="Confirm password"
                                   validator="password ===confirmPassword"
                                   validate-on="dirty"
                                   invalid-message="'Passwords do not match!'"
                                   required-message="'confirm password is required'"
                                   required>

                        </label>
                    </div>
                </div>
            </section>
        </fieldset>

        <footer>
            <button type="submit" class="btn btn-primary">              
                <span data-ng-hide="loadingReset">
                    Reset Password 
                </span>
                <span data-ng-show="loadingReset">
                    Resetting Password..
                    <i class="fa fa-spinner fa-spin"></i>
                </span>               
            </button>
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>-->
        </footer>

    </form>
</div>
<div class="col-md-6"></div>